
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
 package="com.suiji.vault">
 <application android:label="随记">
  <activity android:name=".MainActivity">
   <intent-filter>
    <action android:name="android.intent.action.MAIN"/>
    <category android:name="android.intent.category.LAUNCHER"/>
   </intent-filter>
  </activity>
 </application>
</manifest>
